<div id="Lienhe" class="container-fluid">
	<div class="row">
		<dir class="col-1"></dir>
		<div class="col col-3 text-left">
			<h6>
				+84 169 420 3820<br>
				+84 977 536 632
			</h6>
		</div>
		<div class="col col-md-4 text-center">
			<h6>
				30 Phạm Hữu Tâm, TT.Củ Chi, H.Củ Chi<br>
				Thành phố Hồ Chí Minh
			</h6>    
		</div>
		<div id="fanpage" class="col col-3 text-right">
			<div class="container-fluid">
				<h6 class="text-left">Fanpage: </h6>
				<a href="https://www.facebook.com/Best-Burger-843587055774118/">
					<i class="fab fa-facebook-square fa-2x" style="color:#000"></i>
				</a>					
			</div>					
		</div>
		<div class="col-1"></div>
	</div>
</div>