/* Float four columns side by side */
.column {
  float: inherit;
  width: 30%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#Dichvu {
	padding-bottom: 3%;
  background-color: #000;
  font-family: 'Roboto Mono', monospace;
}

#Dichvu h2 {
	padding-top: 3%;
	padding-bottom: 3%;
}

#Dichvu div div {
	font-weight: 100;
}

div h2 {
  color: #ff9800;;
  font-size: 1.4em;
}

div div div div h4 {
  color: #ff9800;
  font-size: 1.2em;
}

div div div div h3 {
  color: #ff9800;
  font-size: 1.4em;
}

@media screen and (max-width: 600px) {
  #hide{ display: none; }
  div div div div h3 {
    font-size: 3.7vw;
  }
}