<div id="Dichvu" class="container-fluid text-center text-primary">
  <h2>Dịch vụ</h2>
  <div class="row justify-content-center">
    <div class="col">
      <div class="card-outline-info">
        <h4><i class="far fa-clock"></i><br></h4>
        <h4 id="hide">Thời gian mở cửa:<br></h4>
        <h3>16h00-21h30 / t2-t7<br></h3></div>
    </div>
    <div class="col">
      <div class="card-outline-info">
        <h4><i class="fas fa-truck"></i><br></h4>
        <h4 id="hide">Giao hàng tận nơi:<br></h4>
        <h3>Chỉ khu vực Củ Chi<br></h3></div>
    </div>
    <div class="col">
      <div class="card-outline-info">
        <h4><i class="fas fa-birthday-cake"></i><br></h4>
        <h4 id="hide">Đặt số lượng lớn:<br></h4>
        <h3>Liên hoan, đám tiệc
        <br></h3></div>
    </div>
  </div>
</div>
