#outline {
  background-color: #000;
}
.navbar {
  width: 100%;
  height: 18vh;
  background-color: #000;
  display: inline-block;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
  max-height: 4.6em;
}
.navbar-brand {
  padding: 0px;
  display: flex;
  align-items: center;
  max-height: 60%;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 2px 14px 2px;
  max-height: 60%;
}


#best {
  color: #fff;
  margin-top: 12px;
}
#burger {
  color: #ff9800;
  margin-top: 12px;
}

nav div div ul li a,nav div div ul li a:visited,nav div div ul li a:hover,nav div div ul li a:active{
    position:relative;
  transition:0.5s color ease;
    text-decoration:none;
    color:#fff;
}
nav div div ul li a:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
nav div div ul li a:hover{
    color:#ff9800;
}
nav div div ul li a:after {
  left:50%;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.navbar-toggler-icon {
  padding-top: 5px;
}
.navbar-collapse {
  background-color: #000;
  width: 10%;
}